.new-todo {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.new-todo .close-btn-container {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  height: 20px;
  width: 20px;
  padding: 8px;
  border: 2px solid #b8bed4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.close-btn svg {
  font-size: x-large;
}

.new-todo .input-task {
  display: flex;
  flex-direction: column;
}

.new-todo .input-task input {
  width: 80%;
  margin-bottom: 20px;
  font-size: x-large;
  border: none;
  border-bottom: 1px solid #a2a8ca;;
  font-weight: 600;
  padding-bottom: 5px;
  background-color: transparent;
}

.new-todo .input-task input:focus {
  outline: none;
}

.new-todo .input-task p {
  margin-top: 10px;
  color: #b8bed4;
}

.new-todo .input-task select {
  max-width: 300px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #a2a8ca;
  border-radius: 5px;
}

.new-todo div:last-of-type {
  display: flex;
  justify-content: right;
  padding: 0 15px;
}

.new-todo div:last-of-type button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;
  border-radius: 40px;
}

.new-todo div:last-of-type button span:first-of-type {
  margin-right: 5px;
}

.new-todo div:last-of-type button span:last-of-type {
  font-size: 24px;
  margin-bottom: -5px;
}

@media only screen and (min-width: 601px) {
  .new-todo div:last-of-type {
    justify-content: center;
  }
}