#App {
  height: 100vh;
  padding: 0 20px;
  padding-bottom: 20px;
}

button {
  background-color: #58a6f0;
  min-width: 100px;
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px solid #58a6f0;
  color: white;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-top: 15px;
}

.navbar .icon {
  transform: rotate(-90deg);
}

.navbar .icon svg {
  margin-bottom: -2.5px;
}
