#App {
  height: 100vh;
  padding: 0 20px;
  padding-bottom: 20px;
}
span,
h2 {
  color: #1f2950;
}

button {
  background-color: #58a6f0;
  border: 2px solid #58a6f0;
  color: white;
  font-weight: 600;
}

button span {
  color: white;
}

button:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-top: 15px;
}

.navbar span:first-of-type {
  font-size: large;
  font-weight: 600;
}

.navbar .icon {
  transform: rotate(-90deg);
  cursor: pointer;
}

.navbar .icon svg {
  margin-bottom: -2.5px;
}
